<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171360307320-52on2gd5oqq31hl0l3g22pp6knrpg2sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171360307320-52on2gd5oqq31hl0l3g22pp6knrpg2sn</string>
	<key>API_KEY</key>
	<string>AIzaSyBHf2SIbHS46BzsStE0e5npG9GlzksO-EY</string>
	<key>GCM_SENDER_ID</key>
	<string>171360307320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.penguinventure.nyukbook</string>
	<key>PROJECT_ID</key>
	<string>nyukbook</string>
	<key>STORAGE_BUCKET</key>
	<string>nyukbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171360307320:ios:a67e04706d78b40788c58d</string>
	<key>DATABASE_URL</key>
	<string>https://nyukbook.firebaseio.com</string>
</dict>
</plist>